img {
  height: 55px;
  width: auto;
  margin: 10px;
  border-radius: 50%;
  vertical-align: middle;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}
