:root {
    --light-green: #dff2eb;
    --light-blue: #b9e5e8;
    --medium-blue: #7ab2d3;
    --dark-blue: #4a628a;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--dark-blue);
    line-height: 1.6;
  }
  
  header {
    background-color: var(--light-blue);
    padding: 2rem 1.5rem;
    text-align: center;
  }
  
  main {
    padding: 2rem 1.5rem;
  }
  
  section.about {
    max-width: 800px;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: var(--light-green);
    border-radius: 8px;
    border: 1px solid var(--medium-blue);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  section.about h2 {
    margin-top: 1.5rem;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--medium-blue);
    padding: 10px 20px;
  }
  
  .company-nav-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .company-nav-logo img {
    height: 50px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 50%;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-links .link {
    margin-right: 20px;
  }
  
  .navbar a {
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: var(--dark-blue);
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: var(--light-green);
  }
  
  .btn {
    background-color: var(--medium-blue);
    color: var(--dark-blue);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .btn:hover {
    color: var(--light-green);
  }
  
  .footer-bar {
    text-align: center;
    padding: 1.5rem;
    background-color: var(--dark-blue);
    color: var(--light-green);
  }
  
  .footer-bar .footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0;
  }
  
  .footer-bar .footer-links li a {
    color: var(--light-blue);
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s;
  }
  
  .footer-bar .footer-links li a:hover {
    color: var(--light-green);
  }